@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #0d0106;
  line-height: 1.5;
  color: #f8f8f8;
  font-family: "Noto Sans", sans-serif !important;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

.loader {
  display: flex;
  column-gap: 0.5rem;
}

.loader > div {
  height: 10px;
  width: 10px;
  background: white;

  border-radius: 50%;
}

/* @media(max-width: 768px) {
  body {
    overflow-y: auto;
  }
} */
